*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  display: grid;
  gap: 2rem;
}

img {
  height: 20vh;
  width: 100%;
  object-fit: contain;
}

h1 {
  font-weight: normal;
  font-weight: 700;
  line-height: 1.125;
  font-size: 10vmin;
  text-align: center;
  font-family: "Caveat", cursive;
  margin-bottom: 0;
}

ul {
  display: flex;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 3.75vmin;
  list-style-type: none;
  padding: 2vmin;
  text-transform: uppercase;
  user-select: none;
  margin: 0 auto;
  line-height: 1.1;
  font-family: "Caveat", cursive;
}

li span {
  display: block;
  font-size: 8vmin;
  font-weight: 700;
  margin-bottom: 0.25em;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

progress[value]:after {
  content: attr(value) "%";
  font-weight: 700;
  padding: 0 0.5rem;
  font-size: 1.2em;
  position: absolute;
  left: calc(var(--value) * 1%);
  transform: translateX(-100%);
  color: hsl(calc((var(--value) / 100) * 90), 50%, 50%);
  mix-blend-mode: difference;
  font-family: "Caveat", cursive;
}

progress[value]::-webkit-progress-bar {
  background: hsl(220, 10%, 80%);
}

progress[value]::-moz-progress-bar {
  background: hsl(220, 10%, 80%);
}

progress[value]::-webkit-progress-value {
  background: hsl(calc((var(--value) / 100) * 90), 50%, 50%);
  filter: contrast(2);
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  /*background: url('https://images-na.ssl-images-amazon.com/images/I/71VWxgHLZfL._SY500_.jpg') 50% / cover;*/
  padding: 20px;
}
